.App {
}
.anonymous-icon{
  width: 40%;
  display: block;
  margin: 0 auto;
}

.verif-icon{
  width: 5%;
}

#robot-verif{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
}

.form{
  position: relative;
  align-self: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  border-color: #282c34;
  border-style: solid;
  border-width: 5px;
  padding: 4em;
  background-image: url("./img/background.jpg");
}

.checkbox{
  align-self: right;
}

.buttons{
  display: flex;
  position: absolute;
  right: 5%;
  gap: 5%
}

.submit-btn{
    
}

